<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

  <div data-simplebar="data-simplebar" class="h-100">

    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title" data-key="t-menu">{% trans %}Menu{% endtrans %}</li>

        <li>
          <a href="{{ path('app_dash') }}">
            <i data-feather="home"></i>
            <span data-key="t-dashboard">{% trans %}Dashboard{% endtrans %}</span>
          </a>
        </li>

        <li>
          <a href="layouts-horizontal">
            <i data-feather="layout"></i>
            <span data-key="t-horizontal">{% trans %}Votre selection{% endtrans %}</span>
          </a>
        </li>

        <li class="menu-title mt-2" data-key="t-components">{% trans %}Surprise avec 3Tek-Europe{% endtrans %}</li>

      </ul>

      <div class="card sidebar-alert border-0 text-center mx-4 mb-0 mt-5">
        <div class="card-body">
          <img src="/images/giftbox.png" alt="">
          <div class="mt-4">
            <h5 class="alertcard-title font-size-16">{% trans %}Unlimited Access{% endtrans %}</h5>
            <p class="font-size-13">{% trans %}Upgrade your plan from a Free trial, to select ‘Business Plan’{% endtrans %}</p>
            <a href="#!" class="btn btn-primary mt-2">{% trans %}Cadeau 3tek-Europe
              {% endtrans %}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->